<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title th:text="'Trang chủ'"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <th:block th:replace="~{client/layouts/header}"></th:block>

    <div class="container mx-auto p-4 min-h-screen">
        <h1 class="text-3xl font-bold text-gray-800 text-center">Trang chủ</h1>
    </div>

    <th:block th:replace="~{client/layouts/footer}"></th:block>

    <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>
