<header class="bg-white shadow-md">
    <div class="max-w-7xl container mx-auto px-4">
        <div class="flex items-center justify-between py-4">
            <div class="w-2/12">
                <a href="/" class="flex items-center">
                    <img src="https://bizweb.dktcdn.net/100/510/571/themes/941527/assets/logo.png?1727255430829" alt="Logo" class="w-40">
                </a>
            </div>
            <div class="w-3/12">
                <div class="relative">
                    <input type="text" placeholder="Bạn muốn tìm gì ........." class="w-full px-4 py-2 border border-gray-300 rounded-lg text-sm focus:outline-none bg-[#ddd] h-9">
                    <button class="absolute right-0 top-0 bg-[#e31837] text-white w-10 h-9 rounded hover:bg-white/25">
                        <i class="fas fa-search text-sm"></i>
                    </button>
                </div>
            </div>
            <div class="w-7/12 flex items-center justify-end space-x-4">
                <div class="hidden md:flex items-center space-x-2">
                    <i class="fas fa-motorcycle text-red-600 text-2xl"></i>
                    <div>
                        <p class="text-sm font-semibold text-gray-700">Giao hàng tận nơi</p>
                        <p class="text-sm font-bold text-red-600">1900 6750</p>
                    </div>
                </div>
                <a href="/login" class="w-9 h-9 bg-gray-100 rounded-full flex  items-center justify-center">
                    <i class="fas fa-user text-gray-600"></i>
                </a>
                <a href="/cart" class="relative p-2 bg-gray-100 rounded-full w-9 h-9 flex  items-center justify-center">
                    <i class="fas fa-shopping-basket text-gray-600"></i>
                    <span class="absolute -top-1 -right-1 bg-red-600 text-white text-xs px-1 rounded-full">0</span>
                </a>
                <a href="/order" class="bg-[#e31837] text-white px-4 py-2  rounded-lg  hover:bg-[#006a31]">Đặt món online</a>
                <a href="/reservation" class="bg-[#e31837] text-white px-4 py-2 rounded-lg hover:bg-[#006a31]">Đặt bàn</a>
            </div>
        </div>
    </div>
</header>
