<section class="right">
    <div class="investmnents">
        <div class="header">
            <h1>Investments</h1>
            <a href="#">More<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="inventment">
            <img th:src="@{/images/uniliver.png}">
            <h4>Unilier</h4>
            <div class="date-time">
                <p>7 Nov,2023</p>
                <small class="text-muted">10:36pm</small>
            </div>
            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>
            <div class="amount">
                <h4>$20,003</h4>
                <small class="danger">-4.27%</small>
            </div>
        </div>
        <div class="inventment">
            <img th:src="@{/images/tesla.png}">
            <h4>Unilier</h4>
            <div class="date-time">
                <p>7 Nov,2023</p>
                <small class="text-muted">10:36pm</small>
            </div>
            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>
            <div class="amount">
                <h4>$20,003</h4>
                <small class="succes">-4.27%</small>
            </div>
        </div>
        <div class="inventment">
            <img th:src="@{/images/monster.png}">
            <h4>Unilier</h4>
            <div class="date-time">
                <p>7 Nov,2023</p>
                <small class="text-muted">10:36pm</small>
            </div>
            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>
            <div class="amount">
                <h4>$20,003</h4>
                <small class="succes">-4.27%</small>
            </div>
        </div>
        <div class="inventment">
            <img th:src="@{/images/mcdonalds.png}">
            <h4>Unilier</h4>
            <div class="date-time">
                <p>7 Nov,2023</p>
                <small class="text-muted">10:36pm</small>
            </div>
            <div class="bonds">
                <p>1402</p>
                <small class="text-muted">Bonds</small>
            </div>
            <div class="amount">
                <h4>$20,003</h4>
                <small class="danger">-4.27%</small>
            </div>
        </div>
    </div>
    <div class="recent-transact">
        <div class="header">
            <h2>Recent Transactions</h2>
            <a href="#">More<i class="fa-solid fa-chevron-right"></i></a>
        </div>
        <div class="transacition">
            <div class="service">
                <div class="icon bg-purple-light purple">
                    <i class="fa-sharp fa-solid fa-headphones"></i>
                </div>
                <div class="details">
                    <h4>Music</h4>
                    <p>2.11.2004</p>
                </div>
            </div>
            <div class="card-details">
                <div class="card bg-danger">
                    <img th:src="@{/images/visa.png}">
                </div>
                <div class="details">
                    <p>*2757</p>
                    <small class="text-muted">Credit Cards</small>
                </div>
            </div>
            <h4>$20</h4>
        </div>
        <div class="transacition">
            <div class="service">
                <div class="icon bg-purple-light purple">
                    <i class="fa-sharp fa-solid fa-bag-shopping"></i>
                </div>
                <div class="details">
                    <h4>Shopping</h4>
                    <p>2.11.2004</p>
                </div>
            </div>
            <div class="card-details">
                <div class="card bg-primary">
                    <img th:src="@{/images/visa.png}">
                </div>
                <div class="details">
                    <p>*2757</p>
                    <small class="text-muted">Credit Cards</small>
                </div>
            </div>
            <h4>$20</h4>
        </div>
        <div class="transacition">
            <div class="service">
                <div class="icon bg-succes-light succes">
                    <i class="fa-solid fa-utensils"></i>
                </div>
                <div class="details">
                    <h4>Restaurant</h4>
                    <p>2.11.2004</p>
                </div>
            </div>
            <div class="card-details">
                <div class="card bg-dark">
                    <img th:src="@{/images/master card.png}">
                </div>
                <div class="details">
                    <p>*2757</p>
                    <small class="text-muted">Credit Cards</small>
                </div>
            </div>
            <h4>$20</h4>
        </div>
        <div class="transacition">
            <div class="service">
                <div class="icon bg-danger-light danger">
                    <i class="fa-solid fa-gamepad"></i>
                </div>
                <div class="details">
                    <h4>Game</h4>
                    <p>2.11.2004</p>
                </div>
            </div>
            <div class="card-details">
                <div class="card bg-danger">
                    <img th:src="@{/images/visa.png}">
                </div>
                <div class="details">
                    <p>*2757</p>
                    <small class="text-muted">Credit Cards</small>
                </div>
            </div>
            <h4>$20</h4>
        </div>
        <div class="transacition">
            <div class="service">
                <div class="icon bg-danger-light danger">
                    <i class="fa-solid fa-prescription-bottle-medical"></i>
                </div>
                <div class="details">
                    <h4>Pharmacy</h4>
                    <p>2.11.2004</p>
                </div>
            </div>
            <div class="card-details">
                <div class="card bg-primary">
                    <img th:src="@{/images/visa.png}">
                </div>
                <div class="details">
                    <p>*2757</p>
                    <small class="text-muted">Credit Cards</small>
                </div>
            </div>
            <h4>$20</h4>
        </div>
    </div>
</section>
