<aside>
    <button id="close-btn">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <div class="sidebar">
        <a href="/" class="">
            <i class="fa-solid fa-gauge"></i>
            <h4>Dashboard</h4>
        </a>
        <a href="/topic/all">
            <i class="fa-solid fa-arrows-rotate"></i>
            <h4>Danh sách Topic</h4>
        </a>
    </div>
    <div class="update">
        <i class="fa-solid fa-arrows-rotate"></i>
        <h4>Update Available</h4>
        <p>Security Update </p>
        <p>General Update </p>
        <a href="">Update Now</a>
    </div>
</aside>